<!DOCTYPE html>
<html ng-app='appointmentApp'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Phlo - Appointment</title>
        <meta name="description" content="Phlo technical task.">
        <link href="assets/stylesheet.css" rel="stylesheet">
    </head>
    <body ng-controller="appointmentCtrl">
        <nav class="navbar navbar-dark bg-dark">
            <h1 class="h1">Phlo Tech Test</h1>
        </nav>
        <form class="form">
            <div class="form-group">
                <label for="doctor-list">Doctor:</label>
                <select class="form-control" id="doctor-list" ng-model="Doctor">
                    <option>Bill</option>
                    <option>Ben</option>
                    <option>Ash</option>
                    <option>Misty</option>
                    <option>Matt</option>
                </select>
            </div>
            <div class="form-group">
                <label for="patient-name">Your Name:</label>
                <input type="text" class="form-control" id="patient-name" aria-describedby="your-name" placeholder="Enter your name" ng-model="PatientName">
            </div>
            <div class="form-group">
                <label for="patient-email">Your Email:</label>
                <input type="email" class="form-control" id="patient-email" aria-describedby="your-email" placeholder="Enter your email" ng-model="PatientEmail">
            </div>
            <div class="form-group">
                <label for="appointment-time">Your Email:</label>
                <input type="datetime-local" class="form-control" id="appointment-time" aria-describedby="appointment-time" ng-model="AppointmentTime">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="Save()">Submit</button>
        </form>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="assets/module.js"></script>
    <script src="assets/controller.js"></script>
    <script src="assets/service.js"></script>
    <script src="assets/bundle.js"></script>
</html>